/* TODO >>>> Global CSS write in here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins";
}

.container {
  padding: 0 100px;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }
}

@media screen and (max-width: 567px) {
  .container {
    padding: 0 20px;
  }
}