footer {
  max-width: 100%;
  background-color: #181d31;
  color: #f0e9d2;
  border-top: #f0e9d2;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
}

.left h3 {
  margin-top: 12px;
  letter-spacing: 1px;
}



@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    gap: 50px;
  }
}

@media screen and (max-width: 567px) {
  footer {
    padding: 30px;
  }
}
